.content_container {
  display: flex;
  gap: 30px;
}

.main_content {
  flex: 2.3;
}

.news_container {
  flex: 1;
  background-color: hsl(240, 100%, 5%);
}

.title_container {
  display: flex;
}

.title_container > * {
  flex: 1;
}

.title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}

.button {
  border-radius: 0;
  background-color: hsl(5, 85%, 63%);
  height: auto;
  width: 180px;
  letter-spacing: 3px;
  padding: 15px 0;
}

.button:hover {
  background-color: black;
}

.news_subtitle {
}

.news_paragraph {
}
