.list {
  display: flex;
  gap: 40px;
}

.list_item {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.anchor {
  color: hsl(236, 13%, 42%);
}

.anchor:hover {
  color: hsl(5, 85%, 63%);
  text-decoration: none;
}

@media (max-width: 800px) {
  .list {
    display: none;
  }
}
